
html {
  overflow-x: hidden;
  overflow-y: hidden;
  transition: background-color 0.9s ease, color 0.9s ease;
}

body{
  overflow-x: hidden;
}

* {
  transition: background-color 0.9s ease, color 0.9s ease, border-color 0.9s ease;
}


::-webkit-scrollbar{
  display: none ;
}

