
html {
  transition: background-color 0.9s ease, color 0.9s ease;
}

* {
  transition: background-color 0.9s ease, color 0.9s ease, border-color 0.9s ease;
}


::-webkit-scrollbar{
  display: none ;
}

