
html {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
  transition: background-color 0.9s ease, color 0.9s ease;
}

body{
  overflow-x: hidden;
  min-height: 100%;
}

* {
  transition: background-color 0.9s ease, color 0.9s ease, border-color 0.9s ease;
}


::-webkit-scrollbar{
  display: none ;
}

